#textdomain wesnoth-Extended_Era

[unit]
	id=XRPG Dark Elf Lord
	name= _ "Lord"
	image="units/dark-elves/lord.png"
	race=dark elf
	hitpoints=47
	movement_type=defoot
	movement=5
	experience=120
	level=2
	alignment=chaotic
	advanceto=XRPG Dark Elf High Lord
	cost=50
	[abilities]
		{ABILITY_ALLIED_LEADERSHIP_LEVEL_2}
	[/abilities]
	usage=fighter
	unit_description= _ "Highly decorated, These men have gained the title of Lord through their cunning, their prowess, bravery, and strength. They command their provinces, lead their men in battle, and hold the law with an iron grip. They lead as an example to the life of a warrior in the realm of the Dark Elves."
	get_hit_sound={SOUND_LIST:ELF_HIT}
	die_sound={SOUND_LIST:ELF_HIT}
	[attack]
		name=sword
		icon=attacks/sword-elven.png
		type=blade
		range=melee
		damage=7
		number=4
		[animation]
			hits=yes
			[frame]
				begin=-100
				end=0
				image="units/dark-elves/lord.png"
				sound={SOUND_LIST:SWORD_SWISH}
			[/frame]
			[frame]
				begin=0
				end=200
				image="units/dark-elves/lord.png"
			[/frame]
		[/animation]
		[animation]
			hits=no
			[frame]
				begin=-100
				end=0
				image="units/dark-elves/lord.png"
				sound={SOUND_LIST:MISS}
			[/frame]
			[frame]
				begin=0
				end=200
				image="units/dark-elves/lord.png"
			[/frame]
		[/animation]
	[/attack]
	[attack]
		name=shield
		icon=attacks/rectangular-shield.png
		type=impact
		range=melee
		damage=15
		number=1
		defense_weight=1.5
		[specials]
			{WEAPON_SPECIAL_SLOW}
		[/specials]
		[animation]
			hits=yes
			[frame]
				begin=-200
				end=0
				image="units/dark-elves/lord.png"
				sound=mace.wav
			[/frame]
			[frame]
				begin=0
				end=100
				image="units/dark-elves/lord.png"
			[/frame]
		[/animation]
		[animation]
			hits=no
			[frame]
				begin=-200
				end=0
				image="units/dark-elves/lord.png"
				sound={SOUND_LIST:MISS}
			[/frame]
			[frame]
				begin=0
				end=100
				image="units/dark-elves/lord.png"
			[/frame]
		[/animation]
	[/attack]
[/unit]
