#textdomain wesnoth-Extended_Era

[unit]
	id=Aragwaith Sorcerer
	name= _ "Aragwaith^Sorcerer"
	race=aragwaith
	gender=male,female
	image="units/aragwaithi/sorcerer.png"
	hitpoints=40
	movement_type=aragwaithfoot
	movement=5
	experience=100
	level=3
	alignment=neutral
	advanceto=null
	{AMLA_TOUGH 3}
	cost=68
	usage=healer
	unit_description= _ "Sorcerers are like the wind they can stand in front of you and one second later behind you. On the battlefield they are fearful enemies and even the aragwaithi throw a carefull eye on them mostly from a prefered distance of a hundred feets."
	[abilities]
		{ABILITY_CURES}
		{ABILITY_TELEPORT}
	[/abilities]
	get_hit_sound={SOUND_LIST:HUMAN_HIT}
	die_sound={SOUND_LIST:HUMAN_DIE}
	[defend]
		[frame]
			begin=-150
			end=150
			#image="units/aragwaithi/sorcerer-defend.png"
		[/frame]
	[/defend]
	[attack]
		name=staff
		description= _ "staff"
		icon=attacks/staff-magic.png
		type=impact
		range=melee
		damage=13
		number=2
		[animation]
			hits=yes
			[frame]
				begin=-100
				end=100
				#image="units/aragwaithi/sorcerer-attack.png"
				sound=staff.wav
			[/frame]
		[/animation]
		[animation]
			hits=no
			[frame]
				begin=-100
				end=100
				#image="units/aragwaithi/sorcerer-attack.png"
				sound={SOUND_LIST:MISS}
			[/frame]
		[/animation]
	[/attack]
	[attack]
		name=mage-bolt
		description= _ "mage-bolt"
		icon=attacks/fireball.png
		type=fire
		range=ranged
		damage=15
		number=3
		[specials]
			{WEAPON_SPECIAL_MAGICAL}
		[/specials]
		[animation]
			{MISSILE_FRAME_FIREBALL}
			
			[frame]
				begin=-240
				end=-180
				#image="units/aragwaithi/sorcerer.png"
			[/frame]
			[frame]
				begin=-180
				end=-120
				#image="units/aragwaithi/sorcerer.png"
				sound=fire.wav
			[/frame]
			[frame]
				begin=-120
				end=60
				#image="units/aragwaithi/sorcerer.png"
			[/frame]
		[/animation]
	[/attack]
	[female]
		gender=female
		name= _ "Aragwaith^Sorceress"
		image="units/aragwaithi/sorcerer+female.png"
		profile="portraits/Peter_Geinitz/aragwaith-sorceress.png"
		unit_description= _ "Sorceresses are like the wind they can stand in front of you and one second later behind you. On the battlefield they are fearful enemies and even the aragwaithi throw a carefull eye on them mostly from a prefered distance of a hundred feets."
		get_hit_sound={SOUND_LIST:HUMAN_FEMALE_HIT}
		die_sound={SOUND_LIST:HUMAN_FEMALE_DIE}
		[defend]
			[frame]
				begin=-150
				end=0
				image="units/aragwaithi/sorcerer+female.png"
			[/frame]
			[frame]
				begin=0
				end=150
				image="units/aragwaithi/sorcerer+female-defend2.png"
			[/frame]
		[/defend]
	[/female]
[/unit]
