#textdomain wesnoth-Extended_Era

[unit]
	id=Chaos Rabid Hound
	name= _ "Rabid Hound"
	race=monster
	image="units/chaos/rabid-hound.png"
	[movement_anim]
		[frame]
			begin=0
			end=150
			image="units/chaos/rabid-hound-attack2.png"
		[/frame]
	[/movement_anim]
	hitpoints=36
	movement_type=houndfoot
	movement=7
	experience=35
	level=2
	alignment=chaotic
	advanceto=Chaos Warp Hound
	cost=40
	usage=frenzy
	unit_description= _ "Not just a hounds, turned into machines - but mindless bloodthirsty half-daemons, twice larger than ordinary hounds. They charge only at the commands of other daemonic beings, with the desire of bloodbath."
	get_hit_sound=wolf-hit.wav
	die_sound=wolf-die.wav
	[defend]
		[frame]
			begin=-150
			end=150
			image="units/chaos/rabid-hound-defend.png"
		[/frame]
	[/defend]
	[attack]
		name=fangs
		icon=attacks/fangs-animal.png
		type=blade
		range=melee
		[specials]
			{WEAPON_SPECIAL_BERSERK}
		[/specials]
		damage=9
		number=3
		[animation]
			hits=yes
			[frame]
				begin=-50
				end=0
				image="units/chaos/rabid-hound-attack1.png"
				sound=wolf-big-bite.ogg
			[/frame]
			[frame]
				begin=0
				end=200
				image="units/chaos/rabid-hound-attack2.png"
			[/frame]
		[/animation]
		[animation]
			hits=no
			[frame]
				begin=-50
				end=0
				image="units/chaos/rabid-hound-attack1.png"
				sound=wolf-big-bite-miss.ogg
			[/frame]
			[frame]
				begin=0
				end=200
				image="units/chaos/rabid-hound-attack2.png"
			[/frame]
		[/animation]
	[/attack]
[/unit]
