#textdomain wesnoth-Extended_Era

[unit]
	id=Dark Elf Warrior
	name= _ "Warrior"
	image="units/dark-elves/warrior.png"
	race=dark elf
	hitpoints=50
	movement_type=defoot
	movement=5
	experience=90
	level=2
	alignment=chaotic
	advanceto=Dark Elf Corsair
	cost=30
	usage=fighter
	unit_description= _ "These Warriors have devoted themselves totally to mastering the use of dual weapons. With their balanced blades, they can shave a Dwarf. Only few become Corsairs."
	get_hit_sound={SOUND_LIST:ELF_HIT}
	die_sound={SOUND_LIST:ELF_HIT}
	[attack]
		name=sword
		type=blade
		range=melee
		damage=6
		number=5
		icon=attacks/sword-elven.png
		[animation]
			hits=yes
			[frame]
				begin=-100
				end=0
				image="units/dark-elves/warrior.png"
				sound={SOUND_LIST:SWORD_SWISH}
			[/frame]
			[frame]
				begin=0
				end=200
				image="units/dark-elves/warrior.png"
			[/frame]
		[/animation]
		[animation]
			hits=no
			[frame]
				begin=-100
				end=0
				image="units/dark-elves/warrior.png"
				sound={SOUND_LIST:MISS}
			[/frame]
			[frame]
				begin=0
				end=200
				image="units/dark-elves/warrior.png"
			[/frame]
		[/animation]
	[/attack]
[/unit]
