#textdomain wesnoth-Extended_Era

[unit]
	id=Sidhe Warmage
	name= _ "War Mage"
	race=sidhe
	image="units/sidhe/warmage.png"
	hitpoints=44
	movement_type=sidhemage
	movement=5
	experience=76
	level=2
	alignment=chaotic
	advanceto=Sidhe Thunderblade
	cost=38
	usage=archer
	unit_description= _ "Few sidhe are capable of staying away from battle for long. The war mages are wild elf nobility who, though trained as mages, spend most of their time sword in hand. Their prowesses with the sword are easily those of a warrior and their magic is a welcome ally."
	get_hit_sound={SOUND_LIST:ELF_HIT}
	die_sound={SOUND_LIST:ELF_HIT}
	[attack]
		name=sword
		icon=attacks/sword-elven.png
		type=blade
		range=melee
		damage=6
		number=4
		[animation]
			hits=yes
			[frame]
				begin=-100
				end=200
				sound={SOUND_LIST:SWORD_SWISH}
			[/frame]
		[/animation]
		[animation]
			hits=no
			[frame]
				begin=-100
				end=200
				sound={SOUND_LIST:MISS}
			[/frame]
		[/animation]
	[/attack]
	[attack]
		name=lightning
		type=fire
		range=ranged
		[specials]
			{WEAPON_SPECIAL_MAGICAL}
		[/specials]
		damage=7
		number=3
		[animation]
			hits=yes
			[missile_frame]
				begin=-100
				end=0
				image="projectiles/lightning-n.png"
				image_diagonal="projectiles/lightning-ne.png"
			[/missile_frame]
			[frame]
				sound=lightning.ogg
				begin=-150
				end=150
			[/frame]
		[/animation]
		[animation]
			hits=no
			[missile_frame]
				begin=-100
				end=0
				image="projectiles/lightning-n.png"
				image_diagonal="projectiles/lightning-ne.png"
			[/missile_frame]
			[frame]
				sound=lightning-miss.ogg
				begin=-150
				end=150
			[/frame]
		[/animation]
	[/attack]
[/unit]
