#textdomain wesnoth-Extended_Era
[unit]
	id=Windsong Seeker
	name= _ "Windsong Seeker"
	race=windsong
	gender=female
	image="units/windsong/seeker.png"
	{MAGENTA_IS_THE_TEAM_COLOR}
	{DEFENSE_ANIM "units/windsong/seeker.png" "units/windsong/seeker.png" {SOUND_LIST:HUMAN_OLD_HIT} }
	hitpoints=30
	movement_type=windsongseeker
	movement=6
	experience=44
	level=1
	alignment=neutral
	advanceto=Windsong Pathfinder,Windsong Skyrunner
	cost=19
	usage=scout
	unit_description= _ "The name given to the Seekers comes from their role in the legend of the Windsong's first appearance: they were tasked with searching the world over for a suitable place to build the first Foundation.

This tradition of exploration continues unabated, and the Seekers' great speed and agility are easily put to use in times of war."
	die_sound={SOUND_LIST:HUMAN_FEMALE_DIE}
	[abilities]
		{ABILITY_SKIRMISHER}
	[/abilities]
	[attack]
		name=polearm
		description= _"polearm"
		icon=attacks/spear.png
		type=blade
		range=melee
		damage=5
		number=3
		[animation]
			[frame]
				begin=-100
				end=100
				image="units/windsong/seeker.png"
			[/frame]
		[/animation]
	[/attack]
	[attack]
		name=lightning
		description= _"lightning"
		icon=attacks/lightning.png
		type=fire
		range=ranged
		damage=7
		number=1
		[specials]
			{WEAPON_SPECIAL_MAGICAL}
		[/specials]
		[animation]
			[missile_frame]
				begin=-110
				end=15
				image="projectiles/darkmissile-n.png"
				image_diagonal="projectiles/darkmissile-ne.png"
			[/missile_frame]
			[frame]
				sound=fire.wav
				begin=-200
				end=0
			[/frame]
		[/animation]
	[/attack]
[/unit]
