#textdomain wesnoth-Extended_Era
[unit]
	id=Windsong Sky Crystal
	name= _ "Sky Crystal"
	race=mechanical
	ignore_race_traits=yes
	[trait]
		id=incorporeal
		male_name= _ "incorporeal"
		female_name= _ "female^incorporeal"
		description= _ "Immune to drain, poison and plague"
	[/trait]
	image="units/windsong/shard.png"
	{MAGENTA_IS_THE_TEAM_COLOR}
	{DEFENSE_ANIM "units/windsong/shard.png" "units/windsong/shard.png" magic-dark-miss.ogg }
	hitpoints=30
	movement_type=fly
	[resistance]
		blade=60
		pierce=60
		impact=120
		fire=120
		cold=30
		arcane=150
	[/resistance]
	movement=6
	experience=100
	level=1
	alignment=lawful
	advanceto=null
	{AMLA_TOUGH 3}
	cost=20
	usage=fighter
	unit_description= _ "..."
	die_sound=magic-dark-big.ogg
	[abilities]
		{ABILITY_TELEPORT}
	[/abilities]
	[attack]
		name=purge
		description= _ "purge"
		icon=attacks/faerie-fire.png
		type=cold
		range=melee
		damage=7
		number=3
		[animation]
			[frame]
				begin=-100
				end=100
				image="units/windsong/shard.png"
			[/frame]
		[/animation]
	[/attack]
[/unit]
